#app {
    text-align: center;
    font-family: "Ubuntu";
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 114px);
    /* height: 100%; */
}

#question {
    font-size: 7em;
}

.incorrect {
    color: rgb(255, 0, 0);
    font-size: 30px;
}
.correct {
    font-size: 0%;
    color: transparent;
    display: none;
}
#winner {
    color: rgb(103, 255, 103);
    font-size: 100px; 
}
.white {
    color: white;
    padding-top: 10px;
}
canvas {
    display: none;
}
.input {
    font-size: 2.5em;
    /* font-size: 250%; */
    /* background-color: black; */
    /* background-color: white; */
    background-color: transparent;
    /* border-color: white; */
    appearance: none;
    outline: none;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    caret-color: white;
}
/* #app {
    display: none;
} */
#first {
    /* font-family: "Inter"; */
    font-family: "Ubuntu";
    /* font-weight: 100; */
}
li {
    margin: 1em 0;
}
#next {
    /* right: 0; */
    background-color: white;
    border-color: white;
    border: 0;
    padding: 10px;
    float: right;
    margin-right: 20%;
    border-radius: 4px;
}
#next:hover {
    cursor: pointer;
}
.shuffle {
    display: block;
    background-color: white;
    border-color: white;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    /* float: right;
    margin-right: 50%; */
}
.shuffle:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.shuffle_div {
    display: flex;
    justify-content: center;
    /* text-align: center; */
}
.orange {
    /* margin-top: 20px; */
    color: #ee9b00;
}

@Media screen and (max-width: 768px) {
    #question {
        font-size: 4em;
    }
}